{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% block body %}
<h1>Liste des commandes</h1>
    <button type="button" class="btn btn-primary">Primary</button>

{% endblock %}

